<div class="row">
    <div class="col-md-6">
    <h3 id="syllabus-sql">Project Organization and Management</h3>
    <ul>
      <li>Data tidiness</li>
      <li>Planning for NGS projects</li>
      <li><a href="http://www.datacarpentry.org/organization-genomics/">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-shell">The Unix Shell</h3>
    <ul>
      <li>Accessing and using Biocluster</li>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
      <li>Creating and running shell scripts</li>
      <li><a href="https://swc-uiuc.github.io/shell-genomics/">Reference...</a></li>
    </ul>
  </div>
  
</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-r">Programming in R for Data Analysis and Visualization</h3>
    <ul>
      <li>Working with vectors and data frames</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Using R from the command line</li>
      <li><a href="https://swc-uiuc.github.io/r-genomics/">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-git">Data Wrangling for Genomics</h3>
    <ul>
      <li>Assessing read quality</li>
      <li>Trimming and filtering</li>
      <li>A simple variant calling workflow</li>
      <li>Automating a variant calling workflow</li>
      <li><a href="https://swc-uiuc.github.io/wrangling-genomics/">Reference...</a></li>
    </ul>
  </div>

</div>
